.montserrat-alternates-medium {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-alternates-bold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /*Высота расположения блока*/
  min-height: 100vh;
  /*Задний фон:*/
  background: url("../img/Wallpallers.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 350px;
  /*Прозрачный вход:*/
  background: transparent;
  border: 4px solid rgba(255, 255, 255, 0.2);
  /*Блюр*/
  backdrop-filter: blur(35px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #ffffff;
  /*Закругление блока:*/
  border-radius: 38px;
  /*Пространство между блоками:*/
  padding: 35px 40px;
}

/*Надпись "Вход в аккаунт"*/
.wrapper h1 {
  font-size: 25px;
  text-align: center;
}

.wrapper .input-box {
  width: 100%;
  /*Ширина между блоками:*/
  height: 30px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  /*Фон полей логина и пароля:*/
  background: transparent;
  background-color: rgba(0, 0, 0, 0.123);
  border: none;
  outline: none;
  /*Граница полей логина и пароля:*/
  border: 3px solid rgb(255, 255, 255, .2);
  /*Закругление полей логина и пароля:*/
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 40px 20px 20px;
}

.input-box input::placeholder {
  /*Цвет обводки полей*/
  color:#fff;
}

.wrapper .remember {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: 0px 0 15px;
}

/*Текст "Запомни меня"*/
.remember label input {
  accent-color: #fff;
  margin-right: 5px;
}

.remember a {
  color: #fff;
  text-decoration: none;
}

.remember a:hover {
  text-decoration: underline;
}

/*Кнопка входа*/
.wrapper .btn {
  width: 100%;
  height: 45px;

  background:rgba(255, 255, 255, 0.164);
  backdrop-filter: blur(35px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);

  border: 3px solid rgb(255, 255, 255, .2);
  
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 10px 25px 20px 20px;

  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}

/*Создать аккаунт*/
.register-link a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link a:hover {
  text-decoration: underline;
  color: rgb(97, 237, 255);
}

.block {
  padding: 50px;
  max-width: 1170px;
  margin: 0px auto;
}
.block__item {
  margin: 0px 0px 30px 0px;
}

/*Пользователь лого*/
.user {
  text-align: center;
  max-width: 1170px; 
  /* Задает ширину изображения */
  height: 165px;
}

.user__logo {
  margin: 0px 0px 0px 0px;
}

/* Окно регистрации:*/

.wrapper .login-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.login-link a:hover {
  text-decoration: underline;
  color: rgb(97, 237, 255);
}

/* === Регистрация: === */

.registration-block-location {
  display: flex;
  justify-content: center;
  margin: auto; /* расположение блока по центру */
}

/* ~~~~~ Блок 1 ~~~~~ */

.wrapper-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background: transparent;
  margin-right: 5.5px;
  background: rgba(255, 255, 255, 0.045);
  backdrop-filter: blur(35px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  
  text-align: center;
  align-items: center;

  border: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

/* Текст "Регистрация" */

.wrapper-registration h1 {
  font-size: 25px;
  color:#ffffff;
  margin: 35px 55px 25px 55px;
}

.reg-input-text {
  position: relative;
  margin: 0px 0px 12px 0px;
  
  font-family: 'Montserrat Alternates', sans-serif;
}

.reg-input-text input{
  width: 250px;
  height: 46px;

  background-color: rgba(0, 0, 0, 0.123);
  color:#ffffff;
  border-radius: 40px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  padding-left: 15px;
  padding-bottom: 2px;
  font-size: 19px;

  outline: none;
}

.reg-input-text input::placeholder {
  color:#ffffffe0;
  font-weight: 100;
  font-size: 16px;
}

.level-input-text {
  position: relative;
  margin: 0px 0px 12px 0px;
  
  font-family: 'Montserrat Alternates', sans-serif;
}

.level-input-text input{
  width: 250px;
  height: 46px;

  background-color: rgba(0, 0, 0, 0.123);
  color:#ffffff;
  border-radius: 40px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  padding-left: 15px;
  padding-bottom: 2px;
  font-size: 19px;

  outline: none;
}

.level-input-text input::placeholder {
  color:#ffffffe0;
  font-weight: 100;
  font-size: 16px;
}

/* Полоса */

.reg-strip {
  width: 80px;
  height: 3px;
  background-color: #fff;
  border-radius: 40px;
  margin: 15px auto 15px auto;
  /* margin-top: 5px;
  margin-bottom: 15px; */
}

.reg-btn {
  position: relative;
  z-index: 1;
  
  width: 250px;
  height: 50px;

  background:rgba(255, 255, 255, 0.164);
  border: 3px solid rgb(255, 255, 255, .2);
  backdrop-filter: blur(35px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);

  cursor: pointer;
  outline: none;

  border-radius: 40px;
  margin-top: 5px;
  margin-bottom: 17px;

  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.reg-btn:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Легкий фоновый цвет при наведении */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.811); /* Более светлая тень при наведении */
  border: 3px solid rgba(255, 255, 255, 0.73);
  transition: background-color 0.5s, box-shadow 0.5s, border 0.5s;
}

.reg-btn:active {
  transform: translateY(4px); /* Продавливаем кнопку вниз */
  background-color: rgba(0, 0, 0, 0.048);
  transition: transform 0.3s, background-color 0.3s;
}

/* Выпадающий список игр: */

.wrapper-select-game {
  display: flex;
  position: relative; /**/
  width: 250px;
  
  background: transparent;
  background: rgba(255, 255, 255, 0.045);
  backdrop-filter: blur(35px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  
  text-align: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.205);
  border-radius: 50px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  padding: 5px;
  margin-bottom: 10px;
}

.game-select {
  width: 150px; /* Ширина выпадающего списка */
  height: 30px; /* Высота выпадающего списка */
  border-radius: 30px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.123);
  color: #fff;
  font-size: 18px;

  cursor: pointer;
  outline: none;
}

.selected-game {
  margin-right: 0px; /* Отступ между текстом выбранной игры и кнопкой */
  color: white; /* Цвет текста выбранной игры */
  border-radius: 30px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  padding: 5px;
  margin-right: 5px;
}

/* Выделение игры при заполнении информации о своих характеристиках */
.selected-game.active {
  background-color: rgb(6, 175, 6); /* Цвет фона при активации */
  border-radius: 5px; /* Закругление углов для выделения */
  border: 3px solid rgba(8, 255, 119, 0.607);
}

.dropdown-content {
  position: fixed;
  top: -90px;
  min-width: 160px;
  max-height: 130px;
  padding: 5px 5px 5px 10px;
  
  border: 4px solid rgba(255, 255, 255, 0.2);
  background-color: #49434ae4 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  /*Закругление блока:*/
  border-radius: 35px;
  z-index: 10; /* наложение поверх других */

  overflow-y: auto;
}

.dropdown-content::-webkit-scrollbar {
  width: 12px; /* Ширина полосы прокрутки */
}

.dropdown-content::-webkit-scrollbar-thumb {
  background-color: rgba(75, 74, 74, 0.441); /* Цвет ползунка с прозрачностью */
  border-radius: 10px; /* Закругление углов ползунка */
  border: 4px solid rgba(255, 255, 255, 0.328);
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Изменяем цвет при наведении */
}

.dropdown-content a {
  color: white; /* Цвет текста ссылок */
  padding: 12px 16px; /* Отступы внутри ссылок */
  text-decoration: none; /* Убираем подчеркивание */
  display: block; /* Делаем ссылки блочными элементами */
}

.dropdown-content a:hover {
  background-color: #ddd; /* Цвет фона при наведении */
}

.game-option {
  padding: 10px 16px;
  cursor: pointer;
}

.game-option:hover {
  background-color: #9ec1c37e;
  border-radius: 35px;
}

/* Кнопка плюс + */

.plus-button {
  display: flex;

  background-color: transparent; /* Прозрачный фон */
  background:rgba(255, 255, 255, 0.164);
  border: 3px solid rgb(255, 255, 255, .2);
  backdrop-filter: blur(35px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);

  outline: none;
  border-radius: 50px;

  padding: 0px 7px 0px 7px;

  color: white; /* Цвет текста */
  font-size: 22px; /* Размер шрифта */
  cursor: pointer; /* Указатель при наведении */
}

/* ~~~~~ Блок 2 ~~~~~ */

.wrapper-reg-game-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: transparent;
  margin-left: 5.5px;
  background: rgba(255, 255, 255, 0.045);
  backdrop-filter: blur(35px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);

  border: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.wrapper-reg-game-info h1 {
  font-size: 22px;
  color:#ffffff;
  margin: 35px 3px 25px 3px;
  text-align: center;
}

.registration-text {
  font-size: 22px;
  color:#ffffff;
  margin: 5px 45px 5px 45px
}

.game-name-text {
  font-size: 18px;
  color:#ffffff;
  margin: 5px 45px 5px 45px
}

.big-reg-input-text {
  position: relative;
  margin: 0px 0px 12px 0px;
  
  font-family: 'Montserrat Alternates', sans-serif;
}

.big-reg-input-text textarea{
  width: 250px;
  height: 185px; 
  resize: none;  
  background: transparent;
  background-color: rgba(0, 0, 0, 0.123);
  
  border: none;
  outline: none;

  border: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  font-size: 18px;
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
  box-sizing: border-box; /* Учитываем padding и border в ширину и высоту */
  padding: 10px 40px 10px 20px;
  outline: none;
}

.big-reg-input-text textarea::placeholder {
  color:#ffffffe0;
  font-weight: 100;
  font-size: 16px;
}













