<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подбор игроков</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sitestyle.css') }}"> 
    <link rel="icon" href="{{ url_for('static', filename='logo/Search.ico') }}"> 

    <style>
        .dropdown-content {
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-item {
            padding: 12px 16px;
            cursor: pointer;
        }

        .dropdown-item:hover {
            background-color: #ddd;
        }
    </style>

</head>
<body>
    
    <div class="location-search-content-1">
        <div class="search-content">
            <button class="close-button" onclick="redirectToMainPage()">✖</button>
            <p class="title-search-text">Подтверждение данных</p>
            <div class="gamer-search-line"></div>
            <div class="wrapper-gamer-search">
                <form>
                    <div class="wrapper-point-1">
                        <p class="title-gamer-search-name">Выбранная игра</p>
                        <div class="gamer-search-line"></div>
                        <div class="input-box-search-block">
                            <input type="text" id="gameInput" readonly />
                        </div>
                      </div>
                    <div class="wrapper-point-2">
                        <p class="title-gamer-search-name">Ваш уровень/рейтинг</p>
                        <div class="gamer-search-line"></div>
                        <div class="input-box-search-block">
                            <input type="text" id="rangeInput" readonly />
                        </div>
                    </div>
                    <div class="wrapper-point-3">
                        <p class="title-gamer-search-name">Ваш стиль игры</p>
                        <div class="gamer-search-line"></div>
                        <div class="input-box-search-block">
                            <input type="text" id="styleInput" readonly />
                        </div>
                    </div>
                    <a>
                        <!-- ТАКАЯ КНОПКА (button, вместо search) НЕ ПРОВЕРЯЕТ информацию и никуда её не отправляет, нужен JS!!! -->
                        <button type="button" class="btn-gamer-search-next-step" id="find-all-tims"> 
                            Подтвердить и перейти к следующим пунктам
                        </button>
                    </a>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/close-button.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/listofgames.js') }}"></script> 
</body>
</html>